# Azure ADLS Gen2
AZURE_STORAGE_ACCOUNT_NAME=jobspipelineyourname
AZURE_STORAGE_ACCOUNT_KEY=your_key1_here
AZURE_RAW_CONTAINER=raw-zone
AZURE_CLEAN_CONTAINER=clean-zone
AZURE_CURATED_CONTAINER=curated-zone

# Snowflake
SNOWFLAKE_ACCOUNT=abc12345.canada-central.azure
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=JOBS_DB
SNOWFLAKE_SCHEMA=PIPELINE
SNOWFLAKE_WAREHOUSE=JOBS_WH

# Airflow metadata (Postgres - internal only)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=pipeline
POSTGRES_PASSWORD=pipeline
POSTGRES_DB=airflow_meta